# only accessible from the server components or server actions
BACKEND_API_URL=http://localhost:5000
# accssible fromthe client / server / server actions
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:5000
